<ion-grid class="pop-up">
  <ion-grid class="top-contents">
    <ion-grid class="text-wrapper row1">
      <p class="title top-text-1">G2E PHYGITAL NFT</p>
    </ion-grid>
    <ion-grid class="text-wrapper row2">
      <p class="title top-text-2">FARMING METAVERSE</p>
    </ion-grid>
  </ion-grid>
  <app-gld-loader class="player-3d"></app-gld-loader>
  <ion-grid class="top-contents">
    <ion-grid class="text-wrapper row3">
      <p class="title bottom-text-1">MYNJ</p>
    </ion-grid>
  </ion-grid>
</ion-grid>
