<ion-grid class="text-contents">
  <ion-grid class="title content"> {{ title }}</ion-grid>
  <ion-grid class="text-box content">{{ textBox }}</ion-grid>
  <ion-searchbar
    [placeholder]="placeholder"
    autocomplete="true"
    mode="ios"
    searchIcon="search-outline"
    inputmode="decimal"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    showCancelButton="focus"
  ></ion-searchbar>
  <ion-grid class="non-coverable" *ngIf="isChip">
    <ion-chip outline color="primary">
      <ion-label>모든</ion-label>
    </ion-chip>
    <ion-chip outline color="success">
      <ion-label>새로 들어온</ion-label>
    </ion-chip>
    <ion-chip outline color="warning">
      <ion-label>테스트 중</ion-label>
    </ion-chip>
    <ion-chip outline color="danger">
      <ion-label>테스트 중</ion-label>
    </ion-chip>
  </ion-grid>
</ion-grid>
