<app-greeting [subTitle]="'오늘은 무엇을 거래하러 오셨나요?'"></app-greeting>
<app-circle-swiper
  [title]="'프로필 NFT'"
  [subTitle]="'한개의 프로필을 보유하고 있어요.'"
  [url]="'mask-select'"
  [serviceName]="'profile'"
></app-circle-swiper>
<app-circle-swiper
  [title]="'토지 NFT'"
  [subTitle]="'두개의 토지를 보유하고 있어요'"
  [url]="'map-select'"
  [serviceName]="'landscape'"
></app-circle-swiper>
<app-circle-swiper
  [title]="'씨앗 NFT'"
  [subTitle]="'아직 보유하고 있는 씨앗이 없어요'"
  [url]="'seed-select'"
  [serviceName]="'seed'"
></app-circle-swiper>
