<!-- 인사 & 프로필 -->
<ion-grid class="greeting-container">
  <ion-row>
    <ion-col class="greeting-wrapper">
      <ion-text class="text"> {{ title }}</ion-text>
      <ion-avatar class="avatar">
        <ion-img src="assets/images/farmer.jpg"></ion-img>
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- 외침 -->
<ion-grid class="shoutout-container">
  <ion-row>
    <ion-col class="shoutout-wrapper">
      <h3 class="text">
        <b> {{ subTitle }} </b>
      </h3>
    </ion-col>
  </ion-row>
</ion-grid>
