ion-content {
  height: 100%;
}

.greeting-container {
  padding-bottom: 0px;

  .greeting-wrapper {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      font-size: 16px;
    }

    .avatar {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
  }
}

.shoutout-container {
  padding-top: 0px;
  padding-bottom: 20px;

  .shoutout-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .text {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.report-date {
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(48, 48, 48, 0.9);
  font-size: 14px;
}

.content-container {
  padding-bottom: 0px;

  .content-wrapper {
    border-radius: 0px;

    .image-wrapper {
      width: 100%;
      display: flex;
      padding-left: 20px;

      .content-image {
        width: 100%;
        height: 450px;
        border-radius: 20px;
        object-fit: cover;
      }

      .data {
        position: absolute;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        backdrop-filter: blur(3px);
        background: rgba(114, 114, 114, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: white;

        .temperature,
        .weather,
        .location,
        .days-left,
        .qr-code {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50px !important;
          font-size: 16px;

          p {
            font-size: 10px;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

.selection-container {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;

  .selection-wrapper {
    display: flex;

    .selection {
      padding: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .image {
        width: 60px;
        height: 60px;
      }

      .name {
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 12px;
        color: black;
      }
    }
  }
}
