<ion-header [translucent]="true">
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button (click)="openPage('write-town')">
        <ion-icon class="header-icon" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title"> 마이마을 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true">
  <ion-grid class="feed-container">
    <ion-card class="feed-wrapper" *ngFor="let f of feeds">
      <ion-card-content class="ion-no-padding">
        <app-feed-card [f]="f"></app-feed-card>
      </ion-card-content>
    </ion-card>
  </ion-grid>

  <!-- Button: Floating -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
