.header-title {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding: 20px;
  margin-left: 5px;
}

ion-card {
  margin: 5px 0px 5px 5px;
}

.feed-container {
  margin: 0px;
  padding: 0px;
}
